body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.page-header {
    width: 1280px;
    margin: 0 auto;
    padding: 30px 50px;
}

.main-nav {
    display: flex;
}

.logo {
    width: 65px;
    margin-right: 55px;

    /* Добавить обнуление отступов */
    margin-top: 0;
    margin-bottom: 0;

    /* Добавить высоту контейнера */
    height: 65px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 980px;

    /* Расположить элементы навигации в ряд */
    display: flex;

    /* Разрешить перенос элементов */
    flex-wrap: wrap;
}

.site-navigation-item a {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-decoration: none;
}

.site-navigation-item .active-item {
    color: #f79727;
}

.signin {
    width: 25px;
    margin-left: auto;
}
